body {
    background: url(../images/bg.jpg) center;
}
.content {
    width: 1200px;
    margin: 0 auto;
}

#header-wrapper,
#header-top,
#header-footer {
    width: 100%;
    height: auto;
    background: #fff;
}

#header-top {
    background: #F1F1F1;
    border-bottom: 1px solid #E1E1E1;
}

.h-top {
    height: 40px;
    background: #F1F1F1;
    p:first-child {
        float: left;
        height: 100%;
        width: 252px;
        font-size: 12px;
        span {
            color: #f01e1e;
            width: 108px;
            margin-right: 20px;
            height: 40px;
            display: inline-block;
            line-height: 40px;
        }
        a:first-of-type {
            width: 36px;
            margin-right: 20px;
            height: 40px;
            display: inline-block;
            line-height: 40px;
        }
        a:last-of-type {
            width: 48px;
            margin-right: 20px;
            height: 40px;
            display: inline-block;
            line-height: 40px;
        }
    }
    p:last-child {
        float: right;
        height: 100%;
        width: auto;
        line-height: 40px;
        font-size: 12px;
        a:nth-child(1) {
            float: left;
            height: 40px;
            display: block;
            width: 48px;
            margin-right: 20px;
        }
        a:nth-child(2) {
            float: left;
            height: 40px;
            display: block;
            margin-right: 40px;
            background: url(../images/cart_s.png) no-repeat center left;
            padding-left: 20px;
            b {
                color: #ed3f3f;
                margin-left: 6px;
            }
        }
        a:nth-child(3) {
            float: left;
            height: 40px;
            display: block;
            margin-right: 20px;
        }
        a:nth-child(4) {
            float: left;
            height: 40px;
            display: block;
            margin-right: 20px;
        }
        a:nth-child(5) {
            float: left;
            height: 40px;
            line-height: 40px;
            display: block;
            width: 90px;
            text-align: center;
            margin-right: 20px;
            background: url(../images/bg_flbtn.png) no-repeat;
            background-position: -188px 12px;
        }
    }
}

.h-footer {
    height: 118px;
    background: #fff;
    padding-top: 15px;
    background: #fff;
    h1 {
        float: left;
        height: 103px;
        width: 106px;
        margin: 0 15px 15px;
        background: url(../images/logo.png) no-repeat;
        a {
            display: block;
            text-indent: -9999px;
            width: 100%;
            height: 100%;
        }
    }
    div {
        width: 620px;
        height: auto;
        float: left;
        margin-left: 140px;
        position: relative;
        form {
            float: left;
            width: 100%;
            height: 40px;
            position: relative;
            margin-top: 31px;
            select {
                position: absolute;
                top: 3px;
                left: 2px;
                height: 34px;
                width: 58px;
                text-align: center;
                border: 0;
                background-color: #f1f1f1;
            }
            input[type="text"] {
                width: 500px;
                height: 40px;
                float: left;
                padding-left: 70px;
                font-size: 14px;
                box-sizing: border-box;
                line-height: 40px;
                border: 3px solid #ed3f3f;
            }
            input[type="button"] {
                float: left;
                height: 40px;
                width: 120px;
                font-size: 18px;
                color: #fff;
                border: 0;
                background: #ed3f3f;
                letter-spacing: 6px;
            }
        }
        .ss{
            float: left;
            width: 100%;
            height: 16px;
            margin-top: 10px;
            li {
                float: left;
                margin-right: 8px;
                height: 100%;
                a {
                    display: block;
                    height: 100%;
                    line-height: 16px;
                    text-align: center;
                    color: #333;
                    font-size: 12px;
                }
            }
        }
    }
    .t-r {
        display: block;
        float: right;
        width: 160px;
        height: 102px;
    }
}

#header-last {
    width: 100%;
    background: #fff;
    .last {
        height: 40px;
        a {
            float: left;
            display: block;
            font-size: 16px;
            font-weight: 900;
            margin-right: 28px;
            line-height: 40px;
            height: 40px;
            text-align: center;
            width: 54px;
        }
        a:nth-child(1) {
            width: 190px;
            background: #ed3f3f;
            color: #fff;
        }
        a:last-child {
            width: 134px;
            position: relative;
            span {
                color: #ed3f3f;
                margin-left: 2px;
            }
            img {
                position: absolute;
                top: 11px;
            }
            img:first-of-type {
                left: 0px;
            }
            img:nth-of-type(2) {
                left: 15px;
            }
            img:last-of-type {
                right: 15px;
            }
        }
    }
}

#footer-wrapper{
    margin-top: 50px;
    font-size: 12px;
    width:100%;
    height:auto;
    .footer{
        background-color: #f1f1f1;
        .footer-top{
            border-top: 2px solid #ed3f3f;
            height:96px;
            ul{
                overflow: hidden;
                height: 96px;
                width: 990px;
                margin: 0 auto;
               
                li{
                    float:left;
                    width:200px;
                    height:100%;
                    text-align: center;
                    line-height:96px;
                    font-size: 18px;
                    font-weight: bolder;
                    vertical-align: middle;
                    margin:0 60px;
                    img{
                        vertical-align: middle;
                        margin-right:14px;
                    }
                }
            }
        }
        .footer-center{
            border-top: 1px solid #e1e1e1;
            div{
                padding: 30px 0 25px;
                width: 1040px;
                margin: 0 auto;
                overflow: hidden;
                color: #6c6c6c;
                dl{
                    margin: 0 40px 0 0;
                    float: left;
                    color: #6c6c6c;
                    dt{
                        font-size: 16px;
                        margin-bottom: 13px;
                    }
                    dd{
                        line-height: 21px;
                        cursor: default;
                        color: #6c6c6c;
                        font-size:12px;
                        
                    }
                }
                ul{
                    float:left;
                    width:401px;
                    height:125px;
                    position:relative;
                    li:first-child{
                        padding-left: 40px;
                        margin: 0 0 10px;
                        width:200px;
                        height:115px;
                        float:left;
                        a{
                            height:100%;
                            width:100%;
                            display:block;
                            img{
                            
                            display:block;
                            }
                        }
                    }
                    li:nth-child(2){
                        width:172px;
                        position:absolute;
                        height:50px;
                        padding-left: 40px;
                       top:0px;
                       right:10px;
                        font-size:10px;
                        span{
                            color:#f01e1e;
                        }
                    }
                     li:nth-child(3){
                        width:172px;
                        position:absolute;
                        height:50px;
                        padding-left: 40px;
                       top:60px;
                       right:10px;
                        font-size:10px;
                        span{
                            color:#f01e1e;
                        }
                    }
                }
            }
        }
    }
    .footer-last{
    border-top: 1px solid #e1e1e1;
    line-height: 72px;
    text-align: center;
    color: #6c6c6c;
    height:72px;
    
    }
}
.to-top{
    position: fixed;
    right:50px;
    bottom: 100px;
    width: 56px;
    height: 90px;
    cursor: pointer;
    z-index:4;
    display:none;
}
.searchbox{
    z-index: 3;
    position:absolute;
    top:70px;
    left:0px;
    border: 2px solid #eee4e4;
    background-color: #fff;
    box-sizing: border-box;
    height:auto;
    width:620px;
    li{
        box-sizing: border-box;
        width:100%;
        line-height: 26px;
        font-size: 14px;
        padding-left: 10px;
        cursor: default;
        &:hover{
            background:#fef4f4;
        }
    }
}
