.center {
    width: 100%;
    height: 670px;
    background: url(../images/dlbj.jpg)no-repeat top;
    .box2 {
        margin: 70px 20px 0 0;
        width: 390px;
        height: 525px;
        background: #fff;
        box-shadow: 0 0 15px rgba(0, 0, 0, .3);
        opacity: .87;
        float: right;
        ul {
            color: #333333;
            padding: 0 45px;
            li:first-of-type {
                padding-top: 24px;
                height: 26px;
                line-height: 26px;
                font-size: 20px;
                margin-top: 0;
            }
            li {
                width: 300px;
                height: 42px;
                margin-top: 20px;
                position: relative;
                input {
                    width: 298px;
                    height: 40px;
                    border: 1px solid #d3d3d3;
                    padding: 10px 0px 10px 50px;
                    box-sizing: border-box;
                }
                span {
                    display: block;
                    position: absolute;
                    height: 40px;
                    width: 40px;
                    border-radius: 4px 0 0 4px;
                    z-index: 1;
                }
            }
            li:nth-of-type(2) span {
                top: 0px;
                left: 0px;
                background: #d3d3d3 url(../images/user_icon.png)no-repeat 50%;
            }
            li:nth-of-type(3) span {
                top: 0px;
                left: 0px;
                background: #d3d3d3 url(../images/pwd_icon.png)no-repeat 50%;
            }
            li:nth-of-type(4) {
                label {
                    font-size: 16px;
                    color: #666;
                    line-height: 42px;
                    display: block;
                    float: left;
                }
                input {
                    margin-left: 18px;
                    display: block;
                    height: 42px;
                    width: 110px;
                    border: 1px solid #d3d3d3;
                    border-radius: 4px;
                    padding: 10px;
                    font-size: 16px;
                    text-align: center;
                    float: left;
                }
                span {
                    display: block;
                    height: 42px;
                    width: 90px;
                    position: absolute;
                    border-radius: 4px;
                    right: 10px;
                    border: 1px solid #d3d3d3;
                    text-align: center;
                    line-height:42px;
                    background: url(../images/yzm.jpg)no-repeat center;
                }
            }
            li:nth-of-type(5) {
                height: 20px;
                input {
                    width: 13px;
                    height: 13px;
                    position: absolute;
                    top: 0;
                    left: 10px;
                    z-index: 1;
                }
                label {
                    font-size: 12px;
                    width: 200px;
                    position: absolute;
                    top: 0;
                    left: 30px;
                }
                a{
                    position:absolute;
                    display:block;
                     font-size: 12px;
                     top:0;
                     right:10px;
                }
            }
            li:nth-of-type(6) {
                input[type="button"] {
                    width: 104px;
                    height: 40px;
                    margin: 0 20px;
                    color: #fff;
                    text-align: center;
                    background-color: #ed3f3f;
                    padding: 0;
                    cursor: pointer;
                }
            }
            li:nth-of-type(7) {
                span {
                    font-size: 12px;
                    color: #666;
                    display: block;
                    float:left;
                    width: 84px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                }
                span:nth-child(2) {
                    position:absolute;
                    top:0px;
                    left:80px;
                    background: url(../images/weibo_icon.png)no-repeat center left;
                }
                span:nth-child(3) {
                    position:absolute;
                    top:0px;
                    left:150px;
                    background: url(../images/qq_icon.png)no-repeat center left;
                }
                span:nth-child(4) {
                      position:absolute;
                    top:0px;
                    left:220px;
                    background: url(../images/wechat_icon.png)no-repeat center left;
                }
            }
            li:last-of-type{
                border-top:1px solid #CCCCCC;
                margin-top:4px;
                span{
                    display:block;
                    width:290px;
                    height:36px;
                    font-size:14px;
                    left:10px;
                }
                span:nth-child(1){
                    top:10px;
                    
                }
                span:nth-child(2){
                    top:50px;
                }
            }
        }
    }
}